doctype html
html
    head
        title Add Calories
    body
        h1 Add Calories
        form(action="/addcalories" method="post")
            div
                label(for="user_id") User ID:
                input(type="number" name="user_id" id="user_id" required)
            div
                label(for="year") Year:
                input(type="number" name="year" id="year" required)
            div
                label(for="month") Month:
                input(type="number" name="month" id="month" required)
            div
                label(for="day") Day:
                input(type="number" name="day" id="day" required)
            div
                label(for="description") Description:
                input(type="text" name="description" id="description" required)
            div
                label(for="category") Category:
                input(type="text" name="category" id="category" required)
            div
                label(for="amount") Amount:
                input(type="number" name="amount" id="amount" required)
            div
                button(type="submit") Submit
